.difficulty-selector-title {
  margin-top: 24px;
}

.difficulty-selector {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.difficulty-selector .card {
  width: 290px;
}

.difficulty-selector .cup {
  transform: scale(0.7) rotate(10deg);
  transition: transform 0.15s cubic-bezier(0.4, 1.6, 0.55, 1);
  position: absolute;
  right: 8px;
}

.difficulty-selector .card:focus-visible .cup,
.difficulty-selector .card:hover .cup {
  transform: scale(0.7) rotate(5deg);
}
