.game-map-line {
  pointer-events: none;
  opacity: 0.8;
  stroke-dasharray: 0 20px;
  animation: lineGrowth 333ms ease-in-out forwards;
  animation-delay: 333ms;
}

@keyframes lineGrowth {
  from {
    stroke-dasharray: 0 20px;
  }
  to {
    stroke-dasharray: 20px 20px;
  }
}
