.game-button {
  position: relative;
  margin: 0 auto;
  padding: 8px 24px;
  border-radius: 25px;
  box-shadow: 2px 5px 0px 0px #740e0b;
  color: white;
  font-size: 1.5em;
  background-image: linear-gradient(
    to bottom,
    rgba(252, 87, 12, 1) 0%,
    rgba(226, 22, 6, 1) 100%
  );
  border: 0;
  font-family: sans-serif;
  font-weight: 900;
  transform: skewX(-10deg);
  display: inline-flex;
  align-items: center;
  justify-self: start;
  flex-direction: row;
  gap: 16px;
  cursor: pointer;
}

.game-button:hover {
  animation: 0.3s ease-out bounce;
}

.game-button.secondary {
  font-size: 1rem;
  filter: hue-rotate(195deg);
}

.game-button.tertiary {
  font-size: 0.9rem;
  transform: skewX(-5deg);
  filter: hue-rotate(90deg);
}

.game-button.game-button.tertiary:hover {
  animation: 0.3s ease-out small-bounce;
}

.game-button.secondary img,
.game-button.tertiary img {
  display: none;
}

.game-button[disabled] {
  pointer-events: none;
  filter: grayscale(100%);
}

@keyframes bounce {
  0% {
    transform: skewX(-10deg) scale(1.2);
  }

  100% {
    transform: skewX(-10deg) scale(1);
  }
}

@keyframes small-bounce {
  0% {
    transform: skewX(-5deg) scale(1.05);
  }

  100% {
    transform: skewX(-5deg) scale(1);
  }
}
