.text {
  font-size: 1.2rem;
  text-shadow: 1px 1px 0px #ffffff;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.text.block {
  display: block;
}

li.text {
  display: list-item;
}

@media screen and (max-width: 420px) {
  .text {
    font-size: 0.8rem;
  }
}
