.release-notes {
  max-width: 768px;
  margin: auto;
}

.release-notes-content {
  background-image: url(./backgrounds/dialog.jpg);
  padding: 8px 16px;
  margin: 0;
  transform: skewX(-10deg);
  border: 1px solid #213547;
  border-radius: 27px;
}

.release-notes ul {
  text-align: left;
  transform: skewX(10deg);
}

.release-notes ul li {
  margin: 8px 0;
}
