.uploader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border: 2px dashed transparent;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}

.uploader-container label {
  cursor: pointer;
}

.uploader-cloud {
  transition: transform 0.2s ease-out;
  transform-origin: bottom center;
}

.uploader-cloud:hover,
.drag-over .uploader-cloud {
  transform: scale(1.05);
}

.uploader-container input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.uploader-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.uploader-preview-image {
  width: 100%;
  max-width: 400px;
  border: 2px solid #213547;
  border-radius: 4px;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  75% {
    transform: translateX(1px);
  }
}

.uploader-container.drag-active {
  border-color: #646cff;
  background-color: rgba(100, 108, 255, 0.05);
}

.uploader-container.drag-over {
  border-color: #535bf2;
  background-color: rgba(100, 108, 255, 0.1);
}

.uploader-preview-name {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
