.leaderboard-row.is-highlighted {
  border-color: #929200;
}

.leaderboard-row.is-highlighted th {
  color: #929200;
}

.leaderboard-row th.leaderboard-cell-rank {
  padding-right: 0;
}

.leaderboard-row.is-highlighted td {
  color: #aaaa00;
}

.leaderboard-cell-name {
  margin-right: auto;
}

.leaderboard-cell-name.leaderboard-cell-character::before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 4px;
  margin-left: -6px;
  background-size: contain;
  vertical-align: text-bottom;
}

.leaderboard-cell-character.mario::before {
  background-image: url("./ui/characters/mario.png");
}

.leaderboard-cell-character.luigi::before {
  background-image: url("./ui/characters/luigi.png");
}

.leaderboard-cell-character.peach::before {
  background-image: url("./ui/characters/peach.png");
}

.leaderboard-cell-character.bowser::before {
  background-image: url("./ui/characters/bowser.png");
}

.leaderboard-cell-character.daisy::before {
  background-image: url("./ui/characters/daisy.png");
}

.leaderboard-cell-character.wario::before {
  background-image: url("./ui/characters/wario.png");
}

.leaderboard-cell-character.green_yoshi::before {
  background-image: url("./ui/characters/green_yoshi.png");
}

.leaderboard-cell-character.dk::before {
  background-image: url("./ui/characters/dk.png");
}

.leaderboard-cell-character.toad::before {
  background-image: url("./ui/characters/toad.png");
}

.leaderboard-cell-character.king_boo::before {
  background-image: url("./ui/characters/king_boo.png");
}

.leaderboard-cell-character.rosalina::before {
  background-image: url("./ui/characters/rosalina.png");
}

.leaderboard-cell-character.pauline::before {
  background-image: url("./ui/characters/pauline.png");
}

.leaderboard-cell-character.shyguy::before {
  background-image: url("./ui/characters/shyguy.png");
}

.leaderboard-cell-character.lakitu::before {
  background-image: url("./ui/characters/lakitu.png");
}

.leaderboard-cell-secondary-score-container {
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 16px;
}
