.privacy-policies {
  max-width: 768px;
  margin: auto;
}

.privacy-policies h3 {
  margin-top: 48px;
}

.privacy-policies ul {
  list-style: none;
  text-align: left;
}

.privacy-policies li {
  display: block;
}
