.terms-services {
  max-width: 768px;
  margin: auto;
}

.terms-services h3 {
  margin-top: 48px;
}

.terms-services ul {
  list-style: none;
  text-align: left;
}

.terms-services li {
  display: block;
}

.terms-services-back-button {
  margin-top: 48px;
}
