.game-daily-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.game-daily-end p {
  margin: 0;
}

.share-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 12px auto;
  justify-content: center;
  align-items: flex-start;
}

.share-container > * {
  margin: auto;
}

.counter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.counter {
  font-family: "DigitalDisplay", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes copyFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
