.game-daily-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.game-daily-end p {
  margin: 0;
}

.share-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 12px auto;
  justify-content: center;
  align-items: flex-start;
}

.share-container > * {
  margin: auto;
}

.copy-success {
  color: green;
  font-size: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 4px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 200;
  pointer-events: none;
  opacity: 0;
  animation: copyFade 0.3s ease-in-out forwards;
}

.counter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.counter {
  font-family: "DigitalDisplay", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes copyFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
