.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.upload-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.upload-form .show-courses-label {
  display: block;
  margin-top: 24px;
  margin-bottom: 8px;
  cursor: pointer;
}