.game-daily-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.game-daily-end p {
  margin: 0;
}

.game-daily-score {
  font-size: 2rem;
  width: 70%;
  margin: auto;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.95);
  text-shadow: none;
  border: 2px solid #bdbdbd;
  padding: 4px;
  border-radius: 4px;
}
.game-daily-score tr {
  border: 2px solid #bdbdbd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 4px;
}

.game-daily-score th,
.game-daily-score td {
  vertical-align: middle;
  padding: 0 8px;
}

.game-daily-score th {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  color: #bdbdbd;
}

.game-daily-score td {
  text-align: right;
  font-family: "DigitalDisplay", Courier, monospace;
  color: #fff;
  font-size: 2.5rem;
}

.share-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}

.copy-success {
  color: green;
  font-size: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 4px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  animation: copyFade 0.3s ease-in-out forwards;
}

@keyframes copyFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
