.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50000;
  opacity: 0;
  animation: opacityFadeIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 1s;
}

.modal-overlay.no-delay {
  animation-delay: 0s;
}

@keyframes opacityFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-box {
  --skew: -10deg;
  animation: slideModal 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 1s;
  opacity: 0;
  overflow: auto;
  overflow-x: hidden;
  max-height: 95vh;
  min-width: 350px;
  background-color: #f8f8f8;
  background-image: url(./backgrounds/dialog.jpg);
  border-radius: 27px;
  transform: translateY(-100%) skewX(var(--skew));
  padding: 10px 35px 30px 35px;
  text-align: left;
}
.modal-box.no-skew {
  --skew: -0;
}

.modal-overlay.no-delay .modal-box {
  animation-delay: 0s;
}

.modal-box h2 {
  margin-bottom: 0;
}

@keyframes slideModal {
  from {
    transform: translateY(-100%) skewX(var(--skew));
    opacity: 0;
  }
  to {
    transform: translateY(0) skewX(var(--skew));
    opacity: 1;
  }
}

.modal-inner {
  transform: skewX(calc(var(--skew) * -1));
}

.modal-image {
  display: block;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: skewX(calc(var(--skew) * -1));
}

@media (max-width: 600px) {
  .modal-image {
    display: none;
  }
}
