.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
  opacity: 0;
  animation: opacityFadeIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 1s;
}

@keyframes opacityFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-box {
  animation: slideModal 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 1s;
  opacity: 0;
  overflow: auto;
  max-height: 80vh;
  min-width: 350px;
  background-color: #f8f8f8;
  background-image: url(./backgrounds/dialog.jpg);
  border-radius: 27px;
  transform: translateY(-100%) skewX(-10deg);
  padding: 10px 35px 30px 35px;
  text-align: left;
}

@keyframes slideModal {
  from {
    transform: translateY(-100%) skewX(-10deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) skewX(-10deg);
    opacity: 1;
  }
}

.modal-inner {
  transform: skewX(10deg);
}
