.account-photos-upload-button {
  margin-top: 16px;
  margin-bottom: 16px;
}

.account-photos-stats {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 8px;
  margin: 16px auto;
  background-color: #fff;
  width: 80%;
}

.account-photos-stats-stack {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 8px;
  gap: 8px;
  flex-wrap: wrap;
}

.account-photos-stats-stack > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
