.checkbox-label {
  display: inline-block;
  cursor: pointer;
}

.checkbox-label__real_checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-label__checkbox {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 2px solid #213547;
  vertical-align: middle;
  margin-right: 8px;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.checkbox-label__real_checkbox[type="radio"] + .checkbox-label__checkbox {
  border-radius: 50%;
}

.checkbox-label__real_checkbox:checked + .checkbox-label__checkbox:before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: red;
  display: block;
  border-radius: 4px;
}

.checkbox-label__real_checkbox[type="radio"]
  + .checkbox-label__checkbox:before {
  border-radius: 50%;
}

.checkbox-label:hover .checkbox-label__checkbox,
.checkbox-label__real_checkbox:focus-visible + .checkbox-label__checkbox {
  outline: rgba(0, 0, 255, 0.5) solid 2px;
}

.checkbox-label--glued {
  position: relative;
  left: 14px;
}

.checkbox-label--glued .text {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  padding: 2px 8px;
  border-radius: 15px;
  border-top-left-radius: 0;
  font-size: 1rem;
  border-bottom-left-radius: 0;
  position: relative;
  left: -10px;
  z-index: -1;
}
