.upload-coordinates {
  position: absolute;
  bottom: 0;
  left: calc(50% - 119px);
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 8px;
  z-index: 2000;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 20px;
  white-space: nowrap;
  font-size: 1.5rem;
}

.upload-coordinates > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.upload-coordinates label {
  font-weight: bold;
  margin-right: 4px;
}

.upload-coordinates input {
  appearance: none;
  font-size: inherit;
  display: inline-block;
  width: 100%;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  margin: 0;

  background: transparent;
  color: inherit;
  border: 0;
}

@media screen and (max-width: 420px) {
  .upload-coordinates {
    font-size: 1.1rem;
  }
}
