.leaderboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.leaderboard-inner-container {
  width: 50vw;
  min-width: 350px;
  max-width: 480px;
  margin: 12px auto;
  position: relative;
  z-index: 1;
}

.leaderboard-tabs {
  width: 50vw;
  min-width: 350px;
  max-width: 480px;
}

.leaderboard-cup-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px 0 48px 0;
}

.leaderboard-results-title {
  margin: 0;
}

.leaderboard-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
