@font-face {
  font-family: "DigitalDisplay";
  src: url("./Digital Display.woff2") format("woff2"),
    url("./Digital Display.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #f8f8f8;
  background-image: url(./backgrounds/dirt.webp), url(./backgrounds/white.jpg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
}

h2 {
  height: 60px;
  line-height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.5em;
  background-image: url(./backgrounds/title.webp);
  text-shadow: 1px 1px 0px #ffffff;
  font-family: sans-serif;
  font-weight: 900;
  white-space: nowrap;
  text-align: center;
}

h3 {
  height: 40px;
  line-height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1em;
  padding: 0 24px;
  background-image: url(./backgrounds/subtitle.webp);
  color: #fff;
  text-shadow: 1px 1px 0px #213547, 1px 1px 2px #000, -1px 0px 2px #000;
  font-family: sans-serif;
  font-weight: 900;
  white-space: nowrap;
}

#root {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.app-Home .app-home-button {
  display: none;
}

.app-Home .app-login-button,
.app-Login .app-login-button {
  display: none;
}

.app-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.app-header > button {
  margin: 0 !important;
}

.basic-link,
.basic-link:visited {
  color: inherit;
  text-decoration: underline;
}

.basic-link:hover,
.basic-link:focus-visible {
  text-decoration: none;
}

.basic-link:not([href]) {
  text-decoration: none;
  pointer-events: none;
}

.aside-links {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}

@media screen and (max-width: 420px) {
  #root {
    padding: 4px;
  }

  h1 {
    font-size: 2.7em;
  }

  h2 {
    font-size: 1em;
  }

  h2 {
    font-size: 0.8em;
  }
}
