.map-show-courses-container {
  position: absolute;
  top: 8px;
  right: 64px;
  z-index: 2000;
}

.map-container {
  --map-width: 80vw;
  --map-height: calc(var(--map-width) * 9 / 16);
  width: 100%;
}

.leaflet-container {
  width: var(--map-width);
  height: var(--map-height);
  background-color: #3d7cb6;
  border: 1px solid #213547;
  border-radius: 27px;
  margin-left: auto;
  margin-right: auto;
}

.leaflet-container svg {
  outline: none;
}

svg.leaflet-interactive {
  cursor: crosshair !important;
}

.leaflet-marker-draggable {
  cursor: move;
}
