.surface {
  background-image: url(./backgrounds/dialog.jpg);
  padding: 8px 16px;
  margin: 0;
  transform: skewX(-10deg);
  border: 1px solid #213547;
  border-radius: 27px;
}

.surface.disable-skew {
  transform: none;
}

.surface:not(.disable-skew) .surface-content {
  transform: skewX(10deg);
}
